body{
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
.Top{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

a{
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

